<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>Some header</header>
    <div class="posts">
        <% posts.forEach(function (post) { %>
            <div class="post">
                <div class="post-title"><%= post.title%></div>
                <p class="post-content"><%= post.content%></p>
            </div>
        <%}) %>
    </div>
</body>
</html>