{
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "eslint:recommended",
    "airbnb"
  ],
  "rules": {
    "node/prefer-global/console": ["error", "always"],
    "semi": ["error", "always"],
    "max-len": ["warn", { "code": 120 }],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "space-before-function-paren": ["error", "always"]
  }
}