<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css'>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/style.css' />
</head>
<body>
    <header>Some header</header>
    <div class="container mt-4">
        <div class="post">
            <h2 class="post-title"><%= post.title %></h2>
            <p class="post-body"><%= post.content %></p>
            <hr />
        </div>
        <div class="container">
            <% comments.forEach(function(comment) { %>
                <div class="comment text-light bg-dark">
                    <h4 class="comment-title"><%= comment.name %></h4>
                    <p class="post-body"><%= comment.text %></p>
                    <hr />
                </div>
            <% }); %>
        </div>

    </div>
</body>
</html>