<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>It is working!</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>Some header</header>
<div class="posts">
    <% posts.forEach(function(post){ %>
        <div class="post">
            <h1 class="post-title"><%= post.title%></h1>
            <p class="post-title"><%= post.content%></p>
        </div>
    <%})%>
</div>
</body>
</html>